.container {
  flex: 2;
  position: sticky;
  top: 80px;
  align-self: flex-start;
  height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-top: 60px;
  padding-bottom: 40px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.articleFeatures {
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--borderColor);
}

.subtitle {
  color: grey;
  font-size: 16px;
  font-weight: 400;
}

.title {
  font-size: 28px;
}

@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}
