.container {
    flex: 2;
    margin-top: 60px;
}

.articleFeatures {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--borderColor);
}

.subtitle {
    color: grey;
    font-size: 16px;
    font-weight: 400;
}

.title {
    font-size: 28px;
}

@media screen and (max-width:1024px) {
    .container {
        display: none;
    }
}