.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: relative;
  }
  
  .social {
    display: flex;
    gap: 10px;
    flex: 1;
  }
  
  .logo {
    flex: 1;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
  }
  
  .links {
    display: flex;
    gap: 20px;
    flex: 1;
    font-size: 20px;
    align-items: center;
    justify-content: flex-end;
  }
  
  .searchForm {
    display: flex;
    align-items: center;
    transition: max-width 0.5s ease, opacity 0.5s ease;
  }
  
  .searchForm.show {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
  }
  
  .searchInput {
    padding: 10px;
    border: 1px solid var(--textColor);
    border-radius: 20px 0 0 20px;
    outline: none;
    width: 200px;
    background-color: var(--bg);
    color: var(--textColor);
    transition: width 0.5s ease;
  }
  
  .searchInput::placeholder {
    color: var(--SoftTextColor);
  }
  
  .searchButton {
    padding: 10px;
    border: 1px solid var(--textColor);
    background-color: var(--textColor);
    color: var(--bg);
    cursor: pointer;
    border-radius: 0 20px 20px 0;
  }
  
  .searchToggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--textColor);
    font-size: 24px;
  }
  
  @media screen and (max-width: 1024px) {
    .social {
      display: none;
    }
  
    .logo {
      text-align: left;
    }
  }
  
  @media screen and (max-width: 768px) {
    .logo {
      font-size: 24px;
    }
  }
  
  @media screen and (max-width: 640px) {
    .links {
      justify-content: flex-end;
    }
  
    .searchForm {
      display: none;
      opacity: 0;
      max-width: 0;
    }
  
    .searchForm.show {
      display: flex;
      opacity: 1;
      position: absolute;
      top: 32px;
      left: 0px;
      right: 0px;
      margin: 0 auto;
      max-width: 100%;
    }
  
    .searchToggle {
      display: inline-block;
    }
  }
  