.container {
    width: 42px;
    min-width: 42px;
    height: 22px;
    border-radius: 50px;
    padding: 3px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    flex-shrink: 0;
}

.ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.3s;
}

.ballMove {
    left: 24px;
  } 